.Toolbar {
    height: 20px;
    /* background: linear-gradient(to bottom, #f4f4f2 0%, #000000 200%);  */
    /* background: linear-gradient(to bottom, #fff8cd 0%, #646464 100%); */
    /* position: sticky; */
    /* background-color: #495464; */
    display: inline;
    width: 100%;
    margin-top: -5px;
    /* background-color: #982F8A; */
    
}

.Toolbar nav {
    height: 100%;
    
    display: inline;
}